.Main_page {
    background-color: #111;
}

.Credentials {
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/8c4b79f8-dcfa-46a8-a394-805635611b54/7ce6597b-8473-4d47-b29a-cd8252758252/IN-en-20201221-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    background-size: cover;
    background-position: center center;
    height: 50rem;
    opacity: 0.78;
}

.credential_box {
    width: 500px;
    height: 500px;
    padding: 50px;
    position: relative;
    transform: translate(50%,10%);
    border: 1px solid rgba(37,37,37,0.61);
    background-color: rgba(0,0,0,0.7);
}

.credential_text {
    color: white;
    filter: brightness(100%);
    font-family: sans-serif;
}

/* @media only screen and (max-width: 800px) {
    .Credentials {
        background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/8c4b79f8-dcfa-46a8-a394-805635611b54/7ce6597b-8473-4d47-b29a-cd8252758252/IN-en-20201221-popsignuptwoweeks-perspective_alpha_website_large.jpg');
        background-size: cover;
        background-position: center center;
        height: 60rem;
        opacity: 0.78;
    }

    .credential_box {
        width: 500px;
        height: 500px;
        transform: translate(30%,10%);
        border: 1px solid rgba(37,37,37,0.61);
        background-color: rgba(0,0,0,0.7);
    }
} */

